{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% if final_listings %}
        <p><b>{{ final_listings | length }}</b> results found for the search: <b>{{ search }}</b></p>
    {% else %}
        <p>No results found for the search: <b>{{ search }}</b></p>
    {% endif %}

    {% for post in final_listings %}
        <div class="col s4 card">
            <div class="card-image">
                <a href="{{ post.1 }}"><img src="{{ post.3 }}"></a>
            </div>
            <div class="card-content" style="padding: 6px;">
                <a href="{{ post.1 }}"><p>{{ post.0 }}</p></a>
            </div>
            <div class="card-action" style="padding: 6px; line-height: 0.5;">
                <a href="{{ post.1 }}" style="text-align: left;">Price:  {{ post.2 }}</p>
                <a href="{{ post.1 }}" style="text-align: right;font-size: 75%;">Posted on:  {{ post.4 }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
